
<ion-header color="vamsi">

  <ion-navbar color="vamsi">
      <ion-title>TRACING..</ion-title>
      <span style="color:rgb(255, 255, 255);padding-left:11px;font-weight:bold;font-size:10px;">UID:{{this.record}}</span>
      <ion-buttons end id="BUTON">
          <button ion-button large (click)="mapUser()" id="BUTON">
            <ion-icon large name="locate" color="white"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end id="BUTON">
          <button (click)="Logout()" id="BUTON">
            <ion-icon name="log-out" color="white"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end id="BUTON">
        <button (click)="Logouts()" id="BUTON" large>
          <ion-icon name="menu" color="white" style="font-size: 20px;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  

  <agm-map [disableDefaultUI]="true" [latitude]="location?.coords.latitude" [streetViewControl]="true" [panControl]="true" [longitude]="location?.coords.longitude" [scrollwheel]="true" [mapTypeId]="'roadmap'" [zoom]="19">
     <!-- <agm-marker [label]="options" [latitude]="location?.coords.latitude" [longitude]="location?.coords.longitude" [markerClickable]="true"></agm-marker>
      <agm-marker [label]="options" [latitude]="17.703718399999998" [longitude]="80.7356096" [markerClickable]="true"></agm-marker>-->
      <agm-marker  *ngFor="let itemy of itemsy;let i=index" [label]="options" [latitude]="itemy.LATITUDE" [longitude]="itemy.LONGITUDE" [markerClickable]="true"></agm-marker>
      <agm-marker [label]="options1" [latitude]="location?.coords.latitude" [longitude]="location?.coords.longitude" [markerClickable]="true"></agm-marker>
  </agm-map>

  
      <div style="padding-top: 250px">
      <ion-card *ngFor="let itemy of itemsy;let i=index">
              <ion-item >
                  <ion-icon name="locate" item-start large ></ion-icon>
                  <h2> {{itemy.SHOPNAME}}</h2>
                </ion-item>
              </ion-card>
  
          </div>
  <div padding style="padding-top:relative;">
      <button block ion-button color="vamsi" id="hello" vmedium (click)="saveEntr()">Register</button>
  </div>

  <ion-nav [root]="rootPage" #content [rootParams]="paramData" id="authenticated"></ion-nav>

</ion-content>