<!--
  Generated template for the LoginssPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="vamsi">

    <ion-navbar color="vamsi">
        <ion-title>ITEM SHELF</ion-title>
    </ion-navbar>

</ion-header>

<!--
<ion-content padding>
<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items">
        {{item.EMAIL}}
</ion-item>
</ion-list>
</ion-content>
-->

<ion-content style="background-color:rgb(235, 150, 150)">
    <div id=container style="background-color: rgb(235, 150, 150)">
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    </div>

    <!--
        <ion-item *ngFor="let itemy of itemsk;let i=index" style="padding-top:0px;size: 0px;background-color:white">
            <ion-checkbox color="vamsi" value="itemy.item" ng-true-Value=”’I\starving’” [(ngModel)]="itemy.item" (click)="logins(itemy)" style="padding-left:0px;"></ion-checkbox>
        <ion-card>
            <ion-label style="padding-left:0px;">{{itemy.item}}/{{i}}<br>
                <span style="font-size:10px;">In Range of a 'km' Distance from your Location</span>
            </ion-label>
        </ion-card>
    </ion-item>

            <ion-list>
                <ion-item style="background-color:wheat;">

                    <ion-row style="background-color:white">
                        <ion-col style="background-color:white">
                            <ion-item style="background-color:#FFA500;color: white">
                                <div style="font-weight: bold">{{itemy.item}}</div>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <button ion-button icon-left outline [color]="ionicNamedColor" (click)="hello(itemy,i)">
                        <ion-icon name="clipboard"></ion-icon>
                        <div>Register</div>
                      </button>
                        </ion-col>
                    </ion-row>

                </ion-item>
            </ion-list>
        </ion-item>
        </ion-card>
-->
    <ion-list no-lines>

        <ion-item *ngFor="let itemy of itemsk;let i=index" style="border-bottom: 1px solid rgb(235, 150, 150)">
            <ion-icon name="cart" color="vamsi" item-start></ion-icon>
            {{ itemy.item }}
            <button ion-button outline color="vamsi" style="color: rgb(235, 150, 150);" item-end (click)="hello(itemy,i)">Register</button>
        </ion-item>
    </ion-list>

</ion-content>