page-pregister {
    .image {
        height: 30vw; 
        width:30vw; 
       border: 1px solid rgb(265, 165, 0);
       border-radius: 50%;
       box-shadow: 10px 5px 5px rgb(265, 165, 0);
       display: block;
       margin: auto;
       
   }
}
