<!--
  Generated template for the ShopitemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="vamsi">

    <ion-navbar color="vamsi">
        <ion-title>shopitem</ion-title>
    </ion-navbar>

</ion-header>


<ion-content style="background-color:rgb(235, 150, 150)">
    <form [formGroup]="hello">



        <!--
            <ion-item *ngFor="let itemsy of items;let i=index" style="border-bottom: 1px solid rgb(235, 150, 150);">

                <ion-card-header style="background-color:#FFA500;font-weight:bold;color:white;">
                    <ion-icon name="cart">

                        {{itemsy.shopname}}
                    </ion-icon>
                </ion-card-header>
                <ion-card-content style="background-color:#FFA500;font-weight:bold;color:white;">


                    {{itemsy.item}}

                </ion-card-content>
            </ion-item>

-->
        <ion-item *ngFor="let itemse of itemsa;let i=index" style="border-bottom: 1px solid rgb(235, 150, 150);">

            <ion-item style="background-color:#FFA500;font-weight:bold;color:white;">
                <ion-icon name="cart">
                    {{itemse.SHOPNAME}}
                </ion-icon>
                <button ion-button style="background-color: rgb(81, 218, 28); margin-left: 65px;position: relative;padding:-20px" item-end (click)="hellos()">Register</button>
            </ion-item>
            <ion-item *ngFor="let itemsr of items;let i=index" style="position: relative;background-color:#FFA500;">
                <div *ngIf="itemse.SHOPNAME==itemsr.shopname; else elsetag" style="padding: relative;border-bottom: 1px solid rgb(235, 150, 150);border-top: 1px solid rgb(235, 150, 150);background-color: goldenrod;">


                    <div class="row">
                        {{itemsr.item}}
                    </div>


                    <div class="row" style="background-color:#f2f2f2;">
                        <div class="col">{{itemsr.weight}}</div>
                        <div class="col">{{itemsr.weighta}}</div>
                        <div class="col">{{itemsr.weightb}}</div>
                        <div class="col">{{itemsr.weightc}}</div>
                        <div class="col">{{itemsr.weightd}}</div>
                        <div class="col">{{itemsr.weighte}}</div>
                    </div>
                    <div class="row" style="background-color:#4CAF50;">
                        <div class="col">{{itemsr.cost}}</div>
                        <div class="col">{{itemsr.costa}}</div>
                        <div class="col">{{itemsr.costb}}</div>
                        <div class="col">{{itemsr.costc}}</div>
                        <div class="col">{{itemsr.costd}}</div>
                        <div class="col">{{itemsr.coste}}</div>
                    </div>


                </div>
                <ng-template #elsetag>

                </ng-template>
            </ion-item>
        </ion-item>
    </form>
</ion-content>